<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Key of D</key>
	<string>D-D*-Em-G-A-Bm-D**-D5-D***-Am</string>
	<key>Key of Dm</key>
	<string>Dm-Gm-F-Am-C-Em-Edim-F#-D*-D**</string>
</dict>
</plist>
