<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>777777</string>
	<key>Am</key>
	<string>777677</string>
	<key>A*</key>
	<string>757777</string>
	<key>A6</key>
	<string>777797</string>
	<key>A7</key>
	<string>005345</string>
	<key>B</key>
	<string>999999</string>
	<key>Bm</key>
	<string>99CC99</string>
	<key>B/D</key>
	<string>021024</string>
	<key>C*</key>
	<string>A8AAAA</string>
	<key>C</key>
	<string>AAAAAA</string>
	<key>D</key>
	<string>000000</string>
	<key>Dadd2</key>
	<string>000002</string>
	<key>Dadd6</key>
	<string>000120</string>
	<key>Dm</key>
	<string>003300</string>
	<key>Dm7</key>
	<string>000030</string>
	<key>D6</key>
	<string>000020</string>
	<key>D7</key>
	<string>000034</string>
	<key>Dmaj7</key>
	<string>024044</string>
	<key>D7*</key>
	<string>000030</string>
	<key>E</key>
	<string>222222</string>
	<key>Em</key>
	<string>222122</string>
	<key>Emaj7</key>
	<string>222221</string>
	<key>Em7/D</key>
	<string>022122</string>
	<key>F</key>
	<string>333333</string>
	<key>Fmaj7</key>
	<string>343243</string>
	<key>Fm</key>
	<string>333233</string>
	<key>G</key>
	<string>555555</string>
	<key>Gmaj7</key>
	<string>555554</string>
	<key>G7</key>
	<string>555553</string>
	<key>G/D</key>
	<string>020120</string>
	<key>Gm</key>
	<string>555455</string>
	<key>NoChord</key>
	<string>xxxxxx</string>
</dict>
</plist>
