<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>x02220</string>
	<key>A#</key>
	<string>113331</string>
	<key>A#m</key>
	<string>113321</string>
	<key>A#7</key>
	<string>113131</string>
	<key>A#m7</key>
	<string>113121</string>
	<key>Am</key>
	<string>x02210</string>
	<key>A6</key>
	<string>x02222</string>
	<key>A7</key>
	<string>x02020</string>
	<key>Am7</key>
	<string>x02213</string>
	<key>B</key>
	<string>224442</string>
	<key>B7</key>
	<string>221202</string>
	<key>B9</key>
	<string>x21222</string>
	<key>Bm</key>
	<string>224432</string>
	<key>Bm7</key>
	<string>x21232</string>
	<key>C</key>
	<string>x32010</string>
	<key>Cmaj7</key>
	<string>x32000</string>
	<key>C#</key>
	<string>x43121</string>
	<key>C#m</key>
	<string>x13321</string>
	<key>C#m7</key>
	<string>x42100</string>
	<key>C+5</key>
	<string>x32013</string>
	<key>C+9</key>
	<string>x30010</string>
	<key>Cm</key>
	<string>x35543</string>
	<key>Cm7</key>
	<string>x31313</string>
	<key>C6</key>
	<string>302013</string>
	<key>C7</key>
	<string>x32310</string>
	<key>D</key>
	<string>xx0232</string>
	<key>D7</key>
	<string>xx0212</string>
	<key>Dm</key>
	<string>xx0231</string>
	<key>Dm7</key>
	<string>xx0211</string>
	<key>Dsus4</key>
	<string>xx0233</string>
	<key>E</key>
	<string>022100</string>
	<key>E7</key>
	<string>020130</string>
	<key>Em</key>
	<string>022000</string>
	<key>Em7</key>
	<string>022030</string>
	<key>F</key>
	<string>133211</string>
	<key>F#</key>
	<string>244322</string>
	<key>F#7</key>
	<string>242322</string>
	<key>F#m</key>
	<string>244222</string>
	<key>F#m7</key>
	<string>244252</string>
	<key>F7</key>
	<string>131211</string>
	<key>Fm</key>
	<string>133111</string>
	<key>Fm7</key>
	<string>133141</string>
	<key>G</key>
	<string>320003</string>
	<key>G#</key>
	<string>431114</string>
	<key>G#7</key>
	<string>431112</string>
	<key>G#m</key>
	<string>x21144</string>
	<key>G7</key>
	<string>323001</string>
	<key>Gm</key>
	<string>310033</string>
	<key>Gm6</key>
	<string>310033</string>
	<key>NoChord</key>
	<string>xxxxxx</string>
</dict>
</plist>
